/* UTILS */
@import "./utils/variables";
@import "./utils/animations";
@import "./utils/state";
@import "./utils/mixins";
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400&display=swap');

/* COMPONENTS */
@import "./components/layout";
@import "./components/nav";
@import "./components/cursor";
@import "./components/btn";
@import "./components/slider";
@import "./components/scroll";

#mybar {
  position: fixed;
  height: 3px;
  bottom: 5px;
  background-color: black;
  z-index: 1000;
}

.text-anim {
  font-size: 6vw;
}