html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.h1-profil {
  position: absolute;
  top: 50%;
  left: -8%;
  margin: 0;

  transform: translateY(-50%);

  font-family: $secondary-font;
  font-size: 7vw;
}

h2 {
  font-family: $secondary-font;
}

.h2-profil {
  position: absolute;
  top: 60%;
  left: -8%;
  margin: 0;
  transform: translateY(-50%);

  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;

  @include sm {
    background-color: red;
  }
}

section {
  width: 80%;
  margin: auto;
  padding: 30px 0;
}

.row {
  display: flex;
  height: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-column {
  display: flex;
  flex-direction: column;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-3 {
  width: 25%;
}

.container-home {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  // background-image: url("~@/assets/img/ski.jpg");
  background-color: black;
  background-position: center;
  background-size: cover;
}

.container-projet {
  min-height: 100vh;
}

.p-details {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 100;
  line-height: 170%;
  word-spacing: 1rem;

  .span {
    position: relative;
  }
}

.header-projet {
  position: relative;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
}

.header-page {
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
}

.container-about {
  background-color: $color-white;
}

.header-profil {
  position: relative;

  animation: scaleOut 1s ease-in-out forwards;
  animation-delay: 1s;

  background-image: url('~@/assets/img/ski.jpg');
  background-position: center;
}

.projet-1 {
  background-image: url('~@/assets/img/projet1.jpg');
}

.projet-2 {
  background-image: url('~@/assets/img/projet1.jpg');
}

.projet-3 {
  background-image: url('~@/assets/img/projet1.jpg');
}

.projet-4 {
  background-image: url('~@/assets/img/projet1.jpg');
}

.projet-5 {
  background-image: url('~@/assets/img/projet1.jpg');
}

.container-img {
  img {
    width: 100%;
    height: auto;
  }
}

/* BORDER */

.border {
  position: fixed;
  z-index: 999;
  width: $width-border;
  height: 100vh;

  background-color: $color-white;
}

.border-left {
  top: 0;
  left: 0;
}

.border-right {
  top: 0;
  right: 0;
}

.border-top {
  top: 0;
  width: 100%;
  height: $width-border;
}

.border-bottom {
  top: calc(100vh - 10px);
  width: 100%;
  height: $width-border;
}

// .loader-container {
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   background-color: $color-black;
//   z-index: 1001;

//   animation: loader .7s ease-in-out forwards;
//   animation-delay: 2s;
//   ;
// }

.bg-white {
  background: $color-white;
}

::selection {
  background: #ffb7b7;
}

.p-skill {
  margin: 12px;

  opacity: 0.1;

  font-size: 4vw;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }
}

.footer-profile {
  width: 100%;
  height: 180px;

  background-color: $color-black;

  text-align: left;
  a {
    margin-left: 30%;

    color: $color-white;
    font-family: $secondary-font;
    font-size: 11px;
    text-decoration: none;
  }
}
