.slider {
  position: relative;
  width: 100%;
  height: auto;

  img {
    width: 100%;
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  z-index: 20;
  top: 0;
  width: 50%;
  height: 100%;

  background-color: transparent;

  cursor: pointer;

  @include md {
    z-index: 10;
    top: 400px;
    width: 80px;
    height: 80px;

    background-color: $color-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

  }

  @include sm {
    top: 265px;
  }

  @include xs {
    top: 200px;
  }
}

.btn-next {
  right: 0;

  @include md {
    background-image: url('~@/assets/img/right.png');
  }
}

.btn-prev {
  left: 0;

  @include md {
    background-image: url('~@/assets/img/left.png');
  }
}


.details-slider {
  position: relative;
  height: 80px;

  .count-slider {
    position: absolute;
    top: 8px;
    right: 0;

    font-family: $primary-font;
  }

  .text-slider {
    z-index: 11;
    @include absolute-position;

    font-family: $secondary-font;
  }

  .count-slider {
    z-index: 11;
  }
}