.slider {
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn-next {
  right: 0;
}

.btn-prev {
  left: 0;
}

.count-slider {
  font-family: $primary-font;
}

