.fade-enter-active,
.fade-leave-active {
  .nav-projet-link {
    transition: all .8s ease;
    opacity: 0;
  }
}

.fade-enter,
.fade-leave-to {
  transition: all .8s ease;
}

.slider {
  position: relative;
}

img {
  height: 600px;
  width: 100%;
}

.prev,
.next {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  cursor: pointer;
  background-color: transparent;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.count-slider {
  font-family: $primary-font;
}

/* Scroll animation */

.before-enter {
  opacity: 0;
  transform: translateY(-400px);
  transition: all 2s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0);
}