////////////////////////
// Transition Scroll //
///////////////////////
.before-enter {
  // opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}

.enter {
  // opacity: 1;
  transform: translateX(0);
}

////////////////////////
// Transition Router //
///////////////////////
.fade-enter-active,
.fade-leave-active {

  // position: absolute;
  .nav-projet-link {
    opacity: 0;
    transition: all 0.8s ease;
  }
}

.fade-enter,
.fade-leave-to {
  transition: all 0.8s ease;
}